//* Widescreens
@include mediaXl {

}

//* Desktops & Laptops
@include mediaLg {

}

//* Tablets & Netbooks
@include mediaMd {

}

//* Phones
@include mediaSm {
   //Globals
   html {
      font-size: 14px;
   }
   main {
      padding: 1rem 2rem;
   }

   // Header
   header {
      #name {
         font-size: 1.1rem;
      }
      .menu-btn {
         padding: 0 5px;
         
         &:hover {
            color: unset;
         }
      }
      .social-icons {
         display: none;
      }
   }

   // Home
   #home-header {
      text-align: center;


      .lg-heading {
         font-size: 4rem;
         margin-bottom: 1rem;
      }
   }
   #home-content {
      text-align: center;
   }

   // About
   #about-content {
      grid-template-areas:
      'bio-img'
      'bio'
      'job1'
      'job2'
      'job3';
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      #bio-logo {
         // display: none;
         width: 100px;
         height: 100px;
      }
   }

   // Work
   #work-content {
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      .work-item {
         width: 75vw;
         max-width: 250px;
      }
   }
   
   //footer
   footer {
      width: 100vw;
      margin-left: -2rem;

      .social-icons {
         visibility: visible;
      }
   }
}