//* Widescreens
@include mediaXl {

}

//* Desktops & Laptops
@include mediaLg {

}

//* Tablets & Netbooks
@include mediaMd {

}

//* Phones
@include mediaSm {
   //Globals
   html {
      font-size: 12px;
   }
   main {
      padding: 1rem 2rem;
   }

   // Header
   header {
      .menu-btn {
         padding: 0 5px;
         
         &:hover {
            color: unset;
         }
      }
      #icons {
         display: none;
      }
   }

   // Home
   #home-header {
      text-align: center;


      .lg-heading {
         font-size: 5rem;
         margin-bottom: 1rem;
      }
   }
   #home-content {
      text-align: center;
   }
   // About
   #about-content {
      grid-template-areas:
      'bio-img'
      'bio'
      'job1'
      'job2'
      'job3';
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      #bio-logo {
         width: 100px;
         height: 100px;
      }
   }

   // Work
   #work-content {
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      .item {
         max-width: 80vw;
      }
   }
   //footer
   footer {
      height: 30px;
      width: 100vw;
      margin-left: -2rem;
   }
}