@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'config';

//* ~~~~~~~~~~ GLOBALS ~~~~~~~~~~
* {
   box-sizing: border-box;
}

body {
   background: $primary-color;
   color: set-text-color($primary-color);
   height: 100%;
   margin: 0;
   font-family: 'Roboto', sans-serif;
   line-height: 1.5;
}

main {
   padding: 2rem 4rem;
}

a {
   color: #fff;
   text-decoration: none;
}

h1,h2,h3,
h4,h5,h6 {
   margin: 0;
   font-weight: 300;
   font-family: 'Bree Serif', serif;

   &.lg-heading {
      font-size: 4rem;
   }
   &.sm-heading {
      background: rgba(lighten($primary-color, 2), 0.5);
      font-size: 1.3em;
      // width: fit-content; //! trying out background appearance
      padding: 0.2rem 1rem;
      margin-bottom: 2rem;
   }
}

.text-secondary {
   color: $secondary-color;
}

.section-header {
   text-align: center;
   border-top: 3px solid darken($primary-color, 3);
   width: 80%;
   margin: 0 auto;
   margin-top: 4vh;

   &.no-margin {
      border: 0;
      margin-top: 1vh;
   }
}

#bg-img {
   @include background;
}

//* ~~~~~~~~~~ HEADER ~~~~~~~~~~
header {
   background: lighten($primary-color, 10);
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   height: 35px;
   width: 100%;
   z-index: 3;

   div, nav{
   padding: 0 1rem;
   }

   #name {
      font-size: 1.4rem;
      font-family: 'Bree Serif', serif;
      font-weight: 300;
   }

   // Menus
   #main-nav ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
   }
   
   .menu-line {
      border-right: 2px solid $primary-color;
   }
   
   .menu-btn {
      padding: 0 10px;
      text-transform: uppercase;

      &:hover {
         color: $secondary-color;
         @include easeOut;
      }
   }

   #icons a {
      color: white;
      margin: 0 2px;
      font-size: .9rem;

      &:hover {
         color: $secondary-color;
         @include easeOut;
      }
   }
}

//* ~~~~~~~~~~ HOME SECTION ~~~~~~~~~~
#home {
   position: relative;
   top: 10vh;
   height: 96.6vh;
   z-index: 1;

   .lg-heading {
      font-size: 6rem;
   }
   .sm-heading {
      width: fit-content;
   }

   #home-content {
      margin-top: 20vh;

      i {
         color: white;
         margin: 0 .25rem;
      }
   }
}

//* ~~~~~~~~~~ ABOUT SECTION ~~~~~~~~~~
#about-content {
   display: grid;
   grid-gap: 30px;
   grid-template-areas:
      'bio-img bio bio'
      'job1 job2 job3';
   grid-template-columns: repeat(3, 1fr);
   
   #bio-logo {
      grid-area: bio-img;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 6px solid $secondary-color;
      margin: auto;
   }

   #bio {
      grid-area: bio;

      h3 {
         font-size: 1.3em;
      }
   }

   .jobs {
      background: lighten($primary-color, 5);
      padding: .5rem;
      border-bottom: $secondary-color 5px solid;

      h3,h5,h6 {
         text-align: center;
      }
      h3 {
         margin-bottom: 5px;
         color: #cab399;
      }

      .sm-line {
         border-bottom: 1px solid lighten($primary-color, 20);
         width: 50%;
         margin: auto;
      }
   }

   #job1 {grid-area: job1;}
   #job2 {grid-area: job2;}
   #job3 {grid-area: job3;}
}

//* ~~~~~~~~~~ WORK SECTION ~~~~~~~~~~
#work-content {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 0.6rem;

   .item {
      position: relative;
      width: 300px;
      margin: 0 auto;
   }

   .overlay-text {
      background: #444;
      position: absolute;
      font-family: sans-serif;
      color: white;
      text-align: center;
      width: 98%;
      bottom: 40%;
      left: 2px;
      opacity: 0.7;
      padding: 0.5rem 0;
      z-index: 2;
   }

   img {
      width: 100%;
      height: 25vh;
      border: 3px solid #fff;

      &:hover {
         opacity: 0.5;
         border: 3px solid $secondary-color;
         @include easeOut;
      }
   }

   .btn {
      display: block;
      text-align: center;
      padding: 0.3rem 1rem;
      margin-bottom: 0.3rem;

      &.btn-dark {
         background: darken($primary-color, 50);
         color: #fff;
      }
      &.btn-light {
         background: lighten($primary-color, 50);
         color: #333;
      }

      &:hover {
         background: $secondary-color;
         color: set-text-color($secondary-color);
      }
   }
}

//* ~~~~~~~~~~ CONTACT SECTION ~~~~~~~~~~
#contact-content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

   .box {
      background: lighten($primary-color, 15);
      font-size: 1.5rem;
      height: fit-content;
      border: 3px solid #fff;
      padding: 0.5rem 1rem;
      margin: 0.5rem 1.5rem;
   }

   //    Contact Form
   #form {
      background: lighten($primary-color, 15);
      width: 600px;
      height: fit-content;
      padding: 1.5rem;
      padding-top: .5rem;
      margin: 1rem 0;

      input:focus, textarea:focus {
         opacity: .8;
         border: 1px solid $secondary-color;
      }

      h1 {
         text-align: center;
         margin-bottom: 10px;
      }
      #form-name,
      #form-email,
      #form-phone,
      #form-company {
         width: 100%;
         height: 30px;
         margin-bottom: 10px;
      }
               
      #form-message {
         width: 100%;
         height: 20vh;
         margin-bottom: 5px;
      }
   }
}

//* ~~~~~~~~~~ FOOTER SECTION ~~~~~~~~~~
footer {
   // width: 80vw;
   margin: 0 -4rem; // allows footer to breakout of container width
   background: darken($primary-color, 10);
   display: flex;
   justify-content: space-between;
   font-family: sans-serif;
   color: set-text-color($primary-color);
   height: 50px;

   .navbar {
      display: flex;
      list-style: none;
      padding: 0 1rem;

      li {
         margin: auto 0.5rem;

         a:hover {
            color: set-text-color($secondary-color);
         }
      }
   }

   .copyright {
      font-size: 0.8rem;
      margin: auto 1rem
   }

   // Footers bottom margin fix
   nav {
      margin: auto 0;

      ul {
         margin-block-end: 0;
         margin-block-start: 0;
      }
   }
}

//! import mobile file last
@import 'mobile';